<?xml version="1.0" encoding="utf-8"?>
<configRoot>
  <ftpNJAndroid>
    <ftpPath value="d:\sigbit\project\DialWifiInspector\DialWifiInspector.Web\data\ftp\ad_nj" />
  </ftpNJAndroid>

  <ftpGZAndroid>
    <ftpPath value="d:\sigbit\project\DialWifiInspector\DialWifiInspector.Web\data\ftp\ad_gz" />
  </ftpGZAndroid>

  <ftpGZIOS>
    <ftpPath value="d:\sigbit\project\DialWifiInspector\DialWifiInspector.Web\data\ftp\ios_gz" />
  </ftpGZIOS>

  <ftpCDS>
    <ftpPath value="d:\sigbit\project\DialWifiInspector\DialWifiInspector.Web\data\ftp\cds" />
  </ftpCDS>

  <!-- 解压文件的临时目录，不要配在程序目录下 -->
  <upzipTempDirectory>
    <path value="d:\" />
  </upzipTempDirectory>
</configRoot>
