<?xml version="1.0" encoding="utf-8"?>
<configRoot>

  <!-- 应用配置 -->
  <appConfig>
    <!-- 运行省份 -->
    <runningProvince value="hebei" />
  </appConfig>

  <!-- 测试配置 -->
  <testConfig>
    <!-- 属于评分等级为不通过的最低等级 -->
    <unpassGradeLevelMinValue value="3" />
  </testConfig>

  <commonConfig>
    <!-- 报表数据缓存有效时间 -->
    <reportCacheValidSeconds value="1800" />
  </commonConfig>

  <frameworkConfig>
    <!-- framework运行模式，subSystem - 带多个子系统，singleSystem - 单一系统 -->
    <frameworkMode value="subSystem" />
  </frameworkConfig>
</configRoot>
