@{
    ViewBag.Title = "杰运好车首页";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0029)http://wx.che01.com/index.php -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width">
    <title>杰运好车</title>
    <script src="~/Content/js/jquery-1.11.3.js"></script>
    <script src="~/Content/js/jquery.touchSlider.js"></script>
</head>

<body>
    <header class="head2">
        <i class="dwico"><a href="http://wx.che01.com/member.php"></a></i>
        <a class="dwcon2" href="http://wx.che01.com/index.php#">广州市</a>
        <h1>
            <img src="~/Content/images/logo22.png" /></h1>
        <i><a href="tel:4001363888"></a></i>
        <a href="tel:4001363888"><i style="width: 7rem" class="dwico3">4001363888</i></a>

    </header>
    <ul class="menu3">
        <li>
            <p><a href="~/Loan/LoanIndex" class="ico4"></a></p>
            <a href="~/Loan/LoanIndex">以租代购</a>
        </li>

        <li>
            <p><a href="~/GodService/DriverApplicationCreate" class="ico3"></a></p>
            <a href="~/GodService/DriverApplicationCreate">司机招募</a>
        </li>

        <li>
            <p><a href="#" class="ico1"></a></p>
            <a href="#">加油</a>
        </li>

        <li>
            <p><a href="~/GodService/CarIllegal" class="ico2"></a></p>
            <a href="~/GodService/CarIllegal">违章</a>
        </li>

    </ul>
    <banner>
<div class="main_visual">
	<div class="main_image">
		<ul style="width: 375px; overflow: visible;">
		    			<li style="float: none; display: block; position: absolute; top: 0px; left: 0px; width: 1519px;"><a href="#"><img src="~/Content/images/1.jpg" alt=""></a></li>
			 		</ul>
	</div>
</div>
</banner>

    @*  <ul class="menu">
        <li>
            <p>
                <a href="http://wx.che01.com/index.php#" data-tip="准备开通中..." class="ico1 msgshow">
                    <img src="~/Content/images/ico7.png"></a>
            </p>
            <a class=" msgshow" href="http://wx.che01.com/index.php#" data-tip="准备开通中...">抵用券</a>
        </li>
        <li>
            <p>
                <a href="http://wx.che01.com/index.php#" data-tip="准备开通中..." class="ico2 msgshow">
                    <img src="~/Content/images/ico8.png"></a>
            </p>
            <a class=" msgshow" href="http://wx.che01.com/index.php#" data-tip="准备开通中...">新用户优惠</a>
        </li>
        <li>
            <p>
                <a href="http://wx.che01.com/Invitation.php" class="ico3  ">
                    <img src="~/Content/images/ico10.png"></a>
            </p>
            <a class="  " href="http://wx.che01.com/Invitation.php">分享有礼</a>
        </li>
        <li>
            <p>
                <a href="http://wx.che01.com/mall.php" class="ico4  ">
                    <img src="~/Content/images/ico9.png"></a>
            </p>
            <a class="  " href="http://wx.che01.com/mall.php">积分商城</a>
        </li>
    </ul>
*@


    <div class="bpsite" style="font-size: 1.4rem; text-align: center; margin-top: 0.7rem; margin-bottom: 0">
        <a href="#">
            <img width="100%" src="~/Content/images/jiayou.jpg"></a><div style="height: 0.8rem"></div>
        <a href="~/CdbIndex/TodayOilPrice">
            <img width="100%" src="~/Content/images/youjia.jpg"></a>
    </div>

    <script type="text/javascript">
        $(function () {
            ShowMenu(0);
        });
    </script>
</body>
</html>
