@{
    ViewBag.Title = "车贷宝-今日油价";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width">
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>

<body waid71fa0d88-5390-4b5b-a2f4-e45fa93d85e2="SA password protect entry checker">


    <div class="main2">
        <table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%" bgcolor="#0456AA" class="ke-zeroborder">
            <tbody>
                <tr>
                    <td>
                        <p align="center">
                            <b><span style="color: #FFFFFF; font-size: medium;">
                                <br>
                            </span></b>
                        </p>
                        <p align="center">
                            <b><span style="color: #FFFFFF; font-size: medium;">今日油价</span></b>
                        </p>
                        <div align="center">
                            <table border="0" width="90%" height="150" bgcolor="#033D76" cellpadding="0" cellspacing="1" class="ke-zeroborder">
                                <tbody>
                                    <tr>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <b><span style="color: #FFFFFF;">油品</span></b>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <b><span style="color: #FFFFFF;">国家挂牌价<br>
                                                    （元/升）</span></b>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <b><span style="color: #FF9900;">杰运好车会员价<br>
                                                    （元/升）</span></b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #FFFFFF;">92#汽油（V）</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ffffff;">6.03</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <b><span style="color: #FF9900;">5.58</span></b>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #FFFFFF;">95#汽油（V）</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ffffff;">6.53</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ff9900;"><b>6.08</b></span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #FFFFFF;">98#汽油（V）</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ffffff;">6.99</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ff9900;"><b>6.54</b></span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #FFFFFF;">0#柴油（V）</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ffffff;">5.60</span>
                                            </p>
                                        </td>
                                        <td align="center" bgcolor="#0456AA">
                                            <p style="line-height: 150%;">
                                                <span style="color: #ff9900;"><b>5.10</b></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p align="center">
                            <br>
                        </p>
                        <p align="center">
                            <br>
                        </p>
                        <p align="center">
                            <br>
                        </p>
                        <p align="center">
                            <br>
                        </p>
                        <p align="center">
                            <br>
                        </p>
                        <p align="center">
                            <br>
                        </p>
                        <p align="center">
                            <br>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>