@using CheDaiBaoWeChatModel.Models;
@{
    ViewBag.Title = "申请基本信息";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.3.js"></script>
    <style type="text/css">
        .myUl5 li {
            font-size: 1.4rem;
        }
    </style>
</head>

<body class="bodybg">
    @using (Html.BeginForm("CreateLoan", "Loan", FormMethod.Post, new { id = "LoanCreate" }))
    {                          
        <input type="hidden" value="0" id="vid" name="vid">
        <input type="hidden" value="0" id="vprice" name="vprice">

        <div class="qbCon2" id="qd1">
            <ul class="myUl5">
                @* <li>&nbsp;请选择车型 <span>
                    <input type="text" name="CarName" id="CarName" value="@(Model == null ? "" : Model.CarName)" class="fxf gx" style="border: 0px" datatype="*2-150" nullmsg="请输入车型！" onclick="show()" errormsg="车型不正确" placeholder="车型"></span>
                    <input type="hidden" name ="CarTypeId" id="CarTypeId" value="@Model.Id" />
                </li>*@

                <li>&nbsp;手机号 <span>
                    <input type="tel" name="CreditPhone" id="CreditPhone" value="" class="fxf gx" style="border: 0px" datatype="m" nullmsg="请输入手机！" errormsg="手机不正确" placeholder="申请人手机"></span> </li>

                <li>&nbsp;商户名称 <span>
                    <select id="BusinessName" name="BusinessName">
                        <option value="广州众宇">广州众宇</option>
                        <option value="东莞宙斯">东莞宙斯</option>
                        <option value="广州骑士之家">广州骑士之家</option>
                        <option value="广州松吉电动车">广州松吉电动车</option>
                        <option value="东莞盈立宝">东莞盈立宝</option>
                        <option value="梓龙">梓龙</option>
                        <option value="百信车行">百信车行</option>
                    </select></span>
                <li>&nbsp;招聘点名称 <span>
                    <select id="RecruitmentName" name="RecruitmentName">
                        <option value="广州众宇305">广州众宇305</option>
                        <option value="广州骑士之家">广州骑士之家</option>
                        <option value="广州丰兴广场">丰兴广场</option>
                        <option value="广州梓龙大石">广州梓龙大石</option>
                        <option value="广州优才">广州优才</option>
                        <option value="广州邦忙体育西">广州邦忙体育西</option>
                        <option value="广州东盛广场">广州东盛广场</option>
                        <option value="东莞邦忙南城">东莞邦忙南城</option>
                        <option value="东莞盈立宝寮步">东莞盈立宝寮步</option>
                        <option value="广州瑞祥尚雅小区">广州瑞祥尚雅小区</option>
                        <option value="广州亿博燕塘">广州亿博燕塘</option>
                        <option value="广州正方江夏">广州正方江夏</option>
                        <option value="广州众宇东山广场">广州众宇东山广场</option>
                        <option value="巨业天河客运站">巨业天河客运站</option>
                        <option value="嘉禾望岗万友汇企人力">嘉禾望岗万友汇企人力</option>
                        <option value="天河客运站天源广场">天河客运站天源广场</option>  
                        <option value="天源广场恒天企业招聘点">天源广场恒天企业招聘点</option>  
                    </select></span>
                <li>&nbsp;入职站点名称 <span>
                    <input type="text" name="EntrySiteName" id="EntrySiteName" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="入职站点名称"></span> </li>

                <li>&nbsp;站点地址 <span>
                    <input type="text" name="SiteAddress" id="SiteAddress" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="站点地址"></span> </li>

                <li>&nbsp;站长电话 <span>
                    <input type="tel" name="StationMasterPhone" id="StationMasterPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="站长电话"></span> </li>

                <li>&nbsp;品牌 <span>
                    <select id="Brand" name="Brand">
                        <option value="康景">康景</option>
                        <option value="愉途">愉途</option>
                        <option value="巨高">巨高</option>
                        <option value="雅迪">雅迪</option>
                        <option value="相悦">相悦</option>
                        <option value="豪晨">豪晨</option>
                        <option value="深远">深远</option>
                        <option value="鑫泽">鑫泽</option>
                        <option value="台铃">台铃</option>
                    </select>
                <li>&nbsp;型号 <span>
                    <select id="CheType" name="CheType"> 
                        <option value="依兰公主">依兰公主</option>
                        <option value="TDT071Z">TDT071Z</option>
                        <option value="TDR1033Z">TDR1033Z</option>
                        <option value="外卖车">外卖车</option>
                        <option value="金犬">金犬</option>
                        <option value="TDT-108Z">TDT-108Z</option>
                        <option value="TDT02Z">TDT02Z</option>
                        <option value="飞力普">飞力普</option>
                        <option value="TDT128Z">TDT128Z</option>
                        <option value="TDT1097Z">TDT1097Z</option>
                        <option value="小酷跑">小酷跑</option>
                    </select>
                <li>&nbsp;融资租赁额度 <span>
                    <input type="tel" name="TotalAmountStage" id="TotalAmountStage" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="融资租赁额度"></span> </li>

                <li>&nbsp;自付 <span>
                    <input type="tel" name="DownPayments" id="DownPayments" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="自付"></span> </li>

                <li>&nbsp;期数 <span>
                    <input type="tel" name="Deadline" id="Deadline" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="期数"></span> </li>

                <li>&nbsp;价格 <span>
                    <input type="tel" name="CreditAmount" id="CreditAmount" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="价格"></span> </li>

                <li>&nbsp;费率<span>
                    <select id="RentRate" name="RentRate">
                        <option value="0">请选择</option>
                        <option value="4.5">东莞</option>
                        <option value="4.1">广州</option>
                    </select>
                </span></li>

                <li>&nbsp;融资租赁费 <span>
                    <input type="tel" name="MonthlyPayment" id="MonthlyPayment" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="融资租赁费" readonly="readonly"></span> </li>
            </ul>


            <ul style="text-align: center;">
                <input type="button" onclick="fn_xiayibu()" class="userbtn" style="width: 50%;" value="下一步">
            </ul>
        </div>

        <div class="qbCon2" style="display: none" id="qd2">
            <ul class="myUl5">
                <li>&nbsp;住宅电话<span>
                    <input type="tel" name="ResidentialPhone" id="ResidentialPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="住宅电话"></span> </li>

                <li>&nbsp;邮箱<span>
                    <input type="text" name="Email" id="Email" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="邮箱"></span> </li>

                <li>&nbsp;教育程度<span>
                    <select id="EducationLevel" name="EducationLevel">
                        <option value="小学">小学</option>
                        <option value="初中">初中</option>
                        <option value="中专">中专</option>
                        <option value="高中">高中</option>
                        <option value="大专">大专</option>
                        <option value="本科">本科</option>
                    </select>
                </span></li>

                <li>&nbsp;婚姻状况<span>
                    <select id="MaritalStatus" name="MaritalStatus">
                        <option value="否">否</option>
                        <option value="是">是</option>
                    </select>
                </span></li>

                <li>&nbsp;子女数目<span>
                    <input type="tel" name="ChildrenNumber" id="ChildrenNumber" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="子女数目"></span> </li>

                <li>&nbsp;来市时间<span>
                    <input type="text" name="ComingTime" id="ComingTime" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="来市时间"></span> </li>

                <li>&nbsp;居住状况<span>
                    <select id="LivingConditions" name="LivingConditions">
                        <option value="自有">自有</option>
                        <option value="按揭">按揭</option>
                        <option value="租赁">租赁</option>
                        <option value="公司宿舍">公司宿舍</option>
                    </select>
                </span></li>

                <li>&nbsp;现居住地址<span>
                    <input type="text" name="ResidenceAddress" id="ResidenceAddress" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="现居住地址"></span> </li>

                <li>&nbsp;上个工作单位名称<span>
                    <input type="text" name="LastWorkName" id="LastWorkName" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="上一份工作单位名称"></span> </li>


                <li>&nbsp;工作内容<span>
                    <input type="text" name="JobContent" id="JobContent" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="工作内容"></span> </li>

                <li>&nbsp;月工资<span>
                    <input type="tel" name="MonthlyWage" id="MonthlyWage" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="月工资"></span> </li>

                <li>&nbsp;工作时间<span>
                    <input type="tel" name="WorkingYear" id="WorkingYear" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="以月为单位"></span></li>

                <li>&nbsp;总工作年限<span>
                    <input type="tel" name="WorkingSeniority" id="WorkingSeniority" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="以月为单位"></span></li>
            </ul>

            <ul style="text-align: center;">
                <input type="button" onclick="fn_fanhui()" class="userbtn" style="width: 35%;" value="返回">
                <input type="button" onclick="fn_xiayibu1()" class="userbtn" style="width: 35%;" value="下一步">
            </ul>
        </div>
        

        <div class="qbCon2" style="display: none" id="qd3">
            <ul class="myUl5">
                <li>&nbsp;支出<span>
                    <input type="tel" name="Expenditure" id="Expenditure" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="支出"></span> </li>

                <li>&nbsp;生活费用<span>
                    <input type="tel" name="LivingCost" id="LivingCost" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="生活费用"></span> </li>

                <li>&nbsp;房租<span>
                    <input type="tel" name="Rent" id="Rent" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="房租"></span> </li>

                <li style="background-color: #C0C0C0">&nbsp;芝麻信用<span>
                    <input type="tel" name="SesameCredit" id="SesameCredit" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="芝麻信用"></span> </li>

                <li style="background-color: #C0C0C0">&nbsp;是否花呗逾期<span>
                    <select id="IsFlowersOverdue" name="IsFlowersOverdue">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li style="background-color: #C0C0C0">&nbsp;花呗逾期金额<span>
                    <input type="tel" name="FlowersOverdueAmount" id="FlowersOverdueAmount" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="花呗逾期金额"></span> </li>

                <li>&nbsp;是否借呗逾期<span>
                    <select id="IsBorrowOverdue" name="IsBorrowOverdue">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li>&nbsp;借呗逾期金额<span>
                    <input type="tel" name="BorrowOverdueAmount" id="BorrowOverdueAmount" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="借呗逾期金额"></span> </li>

                <li style="background-color: #C0C0C0">&nbsp;是否在银行贷款<span>
                    <select id="IsBankLoan" name="IsBankLoan">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li style="background-color: #C0C0C0">&nbsp;银行贷款余额<span>
                    <input type="tel" name="BankLoanBalance" id="BankLoanBalance" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="银行贷款余额"></span> </li>


                <li style="background-color: #C0C0C0">&nbsp;是否银行逾期<span>
                    <select id="IsBorrowOverdueAmount" name="IsBorrowOverdueAmount">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li style="background-color: #C0C0C0">&nbsp;银行逾期金额<span>
                    <input type="tel" name="BankOverdueAmount" id="BankOverdueAmount" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="银行逾期金额"></span> </li>

                <li>&nbsp;是否在P2P/小贷借款<span>
                    <select id="IsPtpLoan" name="IsPtpLoan">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li>&nbsp;P2P/小贷贷款余额<span>
                    <input type="tel" name="PtpLoanBalance" id="PtpLoanBalance" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="P2P贷款余额"></span> </li>


                <li>&nbsp;是否P2P/小贷逾期<span>
                    <select id="IsPtpOverdueAmount" name="IsPtpOverdueAmount">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>


                <li>&nbsp;P2P/小贷逾期金额<span>
                    <input type="tel" name="PtpOverdueAmount" id="PtpOverdueAmount" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="银行P2P逾期金额"></span> </li>

                <li>&nbsp;贷款未通过说明<span>
                    <input type="text" name="FailurePassReason" id="FailurePassReason" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="贷款未通过说明"></span> </li>

                <li style="background-color: #C0C0C0">&nbsp;是否办理银行信用卡<span>
                    <select id="IsCreditcardLoan" name="IsCreditcardLoan">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li style="background-color: #C0C0C0">&nbsp;信用卡已用金额<span>
                    <input type="tel" name="CreditcardLoanBalance" id="CreditcardLoanBalance" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="信用卡已用金额"></span> </li>

                <li style="background-color: #C0C0C0">&nbsp;是否信用卡逾期<span>
                    <select id="IsCreditcardOverdueAmount" name="IsCreditcardOverdueAmount">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li style="background-color: #C0C0C0">&nbsp;信用卡逾期金额<span>
                    <input type="tel" name="CreditcardOverdueAmount" id="CreditcardOverdueAmount" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="信用卡逾期金额"></span> </li>


                <li>&nbsp;客户分类<span>
                    <select id="CustomerClassification" name="CustomerClassification">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </span></li>

                <div class="qbCon2" style="border: 1px solid #ebf0f2">
                    <textarea name="OtherLoan" id="OtherLoan" cols="" rows="" style="width: 100%; height: 6rem; border: none; padding: 0.2rem" placeholder="其他贷款说明"></textarea>
                </div>

                <ul style="text-align: center;">
                    <input type="button" onclick="fn_fanhui1()" class="userbtn" style="width: 35%;" value="返回">
                    <input type="button" onclick="fn_xiayibu2()" class="userbtn" style="width: 35%;" value="下一步">
                </ul>
            </ul>
        </div>
        
        
        <div class="qbCon2" style="display: none" id="qd4">
            <ul class="myUl5">
                <li>&nbsp;配偶<span>
                    <input type="text" name="Spouse" id="Spouse" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="配偶"></span> </li>

                <li>&nbsp;配偶是否知晓分期<span>
                    <select id="IsSpouseKnowStages" name="IsSpouseKnowStages">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li>&nbsp;联系电话<span>
                    <input type="tel" name="ContactPhone" id="ContactPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="联系电话"></span> </li>

                <li>&nbsp;联系地址<span>
                    <input type="text" name="ContactAddress" id="ContactAddress" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="联系地址"></span> </li>

                <li>&nbsp;父母<span>
                    <input type="text" name="Parents" id="Parents" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="父母"></span> </li>


                <li>&nbsp;父母是否知晓分期<span>
                    <select id="IsParentsKnowStages" name="IsParentsKnowStages">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li>&nbsp;父母联系电话<span>
                    <input type="tel" name="ParentsContactPhone" id="ParentsContactPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="父母联系电话"></span> </li>


                <li>&nbsp;兄弟姐妹<span>
                    <input type="text" name="Brothers" id="Brothers" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="兄弟姐妹"></span> </li>


                <li>&nbsp;兄弟姐妹是否知晓分期<span>
                    <select id="IsBrothersKnowStages" name="IsBrothersKnowStages">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>


                <li>&nbsp;兄弟姐妹联系电话<span>
                    <input type="tel" name="BrothersContactPhone" id="BrothersContactPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="兄弟姐妹联系电话"></span> </li>

                <li>&nbsp;朋友<span>
                    <input type="text" name="Friend" id="Friend" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="朋友"></span> </li>

                <li>&nbsp;朋友是否知晓分期<span>
                    <select id="IsFriendKnowStages" name="IsFriendKnowStages">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li>&nbsp;朋友联系电话<span>
                    <input type="tel" name="FriendContactPhone" id="FriendContactPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="朋友联系电话"></span> </li>

                <li>&nbsp;亲戚<span>
                    <input type="text" name="Relative" id="Relative" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="亲戚"></span> </li>
                <li>&nbsp;与亲戚的关系<span>
                    <input type="text" name="RelativeRelationShip" id="RelativeRelationShip" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="与亲戚的关系"></span> </li>
                <li>&nbsp;亲戚是否知晓分期<span>
                    <select id="IsRelativeKnowStages" name="IsRelativeKnowStages">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </span></li>

                <li>&nbsp;亲戚联系电话<span>
                    <input type="tel" name="RelativeContactPhone" id="RelativeContactPhone" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="亲戚联系电话"></span> </li>

            </ul>
            <ul style="text-align: center;">
                <input type="button" onclick="fn_fanhui2()" class="userbtn" style="width: 50%;" value="返回">
            </ul>
        </div>
        
        <div class="qbCon2">
            <textarea name="Remark" id="Remark" cols="" rows="" style="width: 100%; height: 6rem; border: none; padding: 0.2rem" placeholder="备注"></textarea>
        </div>


        <input name="act" type="hidden" value="post">

        <input type="button" onclick="fn_tijiao()" class="userbtn" id="tijiao" value="提交" style="display: none;">




@*<div style="text-align: center; margin-top: 2rem"><a href="#" style="color: #3697d5">《杰运好车贷款服务协议》</a></div>*@
    }

    <script src="~/Content/js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript">
        function fn_tijiao() {
            if ($("#CreditPhone").val() == "") {
                alert("请填写手机号");
                return false;
            }
            var mobile = $.trim($("#CreditPhone").val());
            var regmobile = /^1\d{10}$/;
            if (regmobile.test(mobile) == false) {
                alert("手机号码错误，请重新输入");
                return false;
            }
            if ($("#CustomerClassification").val() == "B" && $("#Remark").val() == "") {
                alert("备注不能为空！");
                return false;
            }

            $("#LoanCreate").submit();
        }

        function fn_xiayibu() {
            $("#qd2").show();
            $("#qd1").hide();
        }

        function fn_fanhui() {
            $("#qd2").hide();
            $("#qd1").show();
        }

        function fn_xiayibu1() {
            $("#qd3").show();
            $("#qd2").hide();
        }

        function fn_fanhui1() {
            $("#qd3").hide();
            $("#qd2").show();
        }

        function fn_xiayibu2() {
            $("#qd4").show();
            $("#qd3").hide();
            $("#tijiao").show();
        }

        function fn_fanhui2() {
            $("#qd4").hide();
            $("#qd3").show();
            $("#tijiao").hide();
        }

        $("#RentRate").change(function () {
            var RentRateValue = $("#RentRate").val();
            if ($("#TotalAmountStage").val() == "") {
                alert("分期总额不能为空！");
                $("#TotalAmountStage").focus();
                return false;
            }
            if ($("#Deadline").val() == "") {
                alert("期数不能为空！");
                $("#Deadline").focus();
                return false;
            }
            var MonthlyPayment = $("#TotalAmountStage").val() * RentRateValue / 100 + $("#TotalAmountStage").val() / $("#Deadline").val();
            $("#MonthlyPayment").val(Math.ceil(MonthlyPayment));
        });
    </script>


</body>
</html>
