@using CheDaiBaoWeChatModel.Models;
@{
    ViewBag.Title = "申请基本信息";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.3.js"></script>
    <style type="text/css">
        .myUl5 li {
            font-size: 1.4rem;
        }
    </style>
</head>

<body class="bodybg">
    @using (Html.BeginForm("RentInformation", "Loan", FormMethod.Post, new { id = "RentInformation" }))
    {
        <input type="hidden" value="@ViewBag.Phone" id="CreditPhone" name="CreditPhone">
        <div class="qbCon2" id="qd1">
            <ul class="myUl5">
                <li>&nbsp;押金 <span>
                    <input type="tel" name="Deposit" id="Deposit" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="押金"></span> </li>

                <li>&nbsp;租金 <span>
                    <input type="tel" name="BicyclesRent" id="BicyclesRent" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="租金"></span> </li>

                <li>&nbsp;委托车辆价格 <span>
                    <input type="tel" name="TotalAmountStage" id="TotalAmountStage" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="委托车辆价格"></span> </li>

               @* <li>&nbsp;电单车编号 <span> 
                    <input type="text" name="BicycleNumber" id="BicycleNumber" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="电单车编号"></span> </li>*@

                <li>&nbsp;租期 <span>
                    <input type="tel" name="Deadline" id="Deadline" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="期数"></span></li>

                <li>&nbsp;起租期 <span>
                    <input type="tel" name="WithinMonth" id="WithinMonth" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="起租期"></span></li>

                <li>&nbsp;保险费 <span>
                    <input type="tel" name="Insurance" id="Insurance" value="" class="fxf gx" style="border: 0px" datatype="m" placeholder="保险费"></span></li>
            </ul>
        </div>
        <input type="button" onclick="fn_tijiao()" class="userbtn" id="tijiao" value="提交">
    }

    <script src="~/Content/js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript">
        function fn_tijiao() {
            if ($("#CreditPhone").val() == "") {
                alert("请填写手机号");
                return false;
            }
            var mobile = $.trim($("#CreditPhone").val());
            var regmobile = /^1\d{10}$/;
            if (regmobile.test(mobile) == false) {
                alert("手机号码错误，请重新输入");
                return false;
            }
            $("#RentInformation").submit();
        }

        function fn_xiayibu() {
            $("#qd2").show();
            $("#qd1").hide();
        }

        function fn_fanhui() {
            $("#qd2").hide();
            $("#qd1").show();
        }

        function fn_xiayibu1() {
            $("#qd3").show();
            $("#qd2").hide();
        }

        function fn_fanhui1() {
            $("#qd3").hide();
            $("#qd2").show();
        }

        function fn_xiayibu2() {
            $("#qd4").show();
            $("#qd3").hide();
        }

        function fn_fanhui2() {
            $("#qd4").hide();
            $("#qd3").show();
        }

        function fn_xiayibu3() {
            $("#qd5").show();
            $("#qd4").hide();
            $("#tijiao").show();
        }

        function fn_fanhui3() {
            $("#qd5").hide();
            $("#qd4").show();
            $("#tijiao").hide();
        }

    </script>


</body>
</html>
