<?xml version="1.0" encoding="utf-8"?>
<configRoot>
  <instanceDefault>
    <dbType value="mssql" />
    <connectString value="Data Source=.;Initial Catalog=Motorcycles;User ID=sa;Password=123qwe" />
    <minPoolSize value="5" />
    <maxPoolSize value="18" />
  </instanceDefault>
  <instanceWps>
    <dbType value="mssql" />
    <connectString value="Data Source=.;Initial Catalog=Motorcycles;User ID=sa;Password=123qwe" />
    <minPoolSize value="5" />
    <maxPoolSize value="18" />
  </instanceWps>
  <sqlPerfLogConfig>
    <!-- 数据库日志的记录方式，logNone-不记录(缺省)、logAll-全记录、logWanted-记录超时 -->
    <logMethod value="logWanted" />

    <!-- 短SQL语句的超时时长，建议为500 ms -->
    <quickSQLTime value="500" />

    <!-- 普通SQL语句的超时时长，建议为1000 ms -->
    <normalSQLTime value="1000" />

    <!-- 长SQL语句的超时时长，建议为3000 ms -->
    <slowSQLTime value="3000" />
  </sqlPerfLogConfig>

</configRoot>
