@{
    ViewBag.Title = "上传用户资料";
    Boolean? IsBusinessFile = ViewBag.IsBusinessFile as Boolean?;
    int i = 0;
}
<meta charset="UTF-8">
<meta name="viewport" content="target-densitydpi=device-dpi,width=640, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no" />
<link href="~/Content/css/common.css" rel="stylesheet" />
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<style>
    .header .head-a02 {
        color: #999999;
        padding-top: 30px;
    }

        .header .head-a02 span {
            position: relative;
            display: block;
            width: 425px;
            height: 40px;
            line-height: 40px;
            margin: 0 auto;
            padding-left: 36px;
            text-align: center;
        }

            .header .head-a02 span i {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -13px;
                background: url(../Content/img/icon_01.png) no-repeat center center;
                width: 26px;
                height: 26px;
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
            }

    .fz25 {
        font-size: 25px;
    }

    .p-b30 {
        padding-bottom: 30px!important;
    }

    .content .confirm {
        display: block;
        margin: 0 32px;
        width: 572px;
        height: 72px;
        background: #b31f23;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
    }

    .m-t50 {
        margin-top: 50px!important;
    }

    .fz20 {
        font-size: 20px;
    }
</style>
<body bgcolor="#f5f5f9">
    <section class="header">
        <div class="head-a02 fz25 p-b30">
            <span><i></i>尊敬的 @ViewBag.Phone, 我们注重信息保护，不授权不对外提供</span>
        </div>
    </section>
    <section class="content">

        <div class="uploadFile p-b70">
            <div class="p-t10">
                @if (IsBusinessFile == true)
                {
                    foreach (CheDaiBaoWeChatModel.Models.BusinessFile item in ViewBag.businessFileList as List<CheDaiBaoWeChatModel.Models.BusinessFile>)
                    {
                        if (item.BusinessType == CheDaiBaoWeChatModel.BusinessType.人身照)
                        {
                            if (i == 1)
                            {
                                continue;
                            }
                            i++;
                        }
                        if (!string.IsNullOrEmpty(item.FilePath))
                        {
                            if (item.FilePath.Contains("CheDaiBaoWeChat"))
                            {
                    <a href="#" style="background-image: url(@("http://ddc.che01.com/PictureUpload/image/" + item.FilePath.Substring(item.FilePath.Length - 34, 34).Replace("\\", "/"))); border:none;" >
                        <input type="button" />
                    </a>}
                            else
                            {
                    <a href="#" style="background-image: url(@("http://manage.che01.com/image/" + item.FilePath.Substring(item.FilePath.Length - 34, 34).Replace("\\", "/"))); border:none;" >
                        <input type="button" />
                    </a>
                            }
                        }
                        else
                        {<a href="#" style="background-image: url(@(item.WeChatPath)); border:none;" >
                            <input type="button" />
                        </a>
                        }
                    }
                }
            </div>
        </div>

    </section>
</body>

